{% extends "base.html" %} {% block content %}

<div class="container">
  <section class="contact_section">
    <h1>Bongo Resturant Hotels Group</h1>
    <p>
      <span class="about_Heading">Bongo Resturant</span> is a global hospitality
      company that owns and/or manages more than 50 hotels, resorts and serviced
      suites across three brands – Bongo Resturant, PARKROYAL COLLECTION, and
      PARKROYAL – encompassing more than 30 cities across Asia Pacific, North
      America and Europe. Headquartered in Singapore, it is a member of
      Singapore-listed UOL Group Limited. 
    </p>
  </section>
</div>

{% endblock content %}
